{% extends "base.html" %}
{% from "form_macros.html" import render_info_input_field %}
{% block content%}
<h3 class="text-center pt-5"></h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                     <div>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category,message in messages %}
                                    <h6 class="shakeInput {% if category == 'error' %} text-danger {% else %} text-success {% endif %} text-center ">{{ message }}</h6>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <form id="login-form" class="form border border-info p-4 rounded bg-light shadow" action="{{url_for('login_page')}}" method="post">
                        {{ form.csrf_token }}
                        <h3 class="text-center text-info">Login</h3>
                        {{ render_info_input_field(form.username) }}
                        {{ render_info_input_field(form.password) }}
                        <div {% if form.remember_me.errors %} class="error form-group" {% else %} class="form-group" {% endif %}>
                            {{form.remember_me.label(class="text-info")}}<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{{form.remember_me}}
                        </div>
                        <div {% if form.submit.errors %} class="error form-group" {% else %} class="form-group" {% endif %}>
                            {{form.submit(class="btn btn-info btn-md")}}
                        </div>
                        <div id="register-link" class="text-right">
                            <span class="text-info" >
                                Not part of our users ?   
                                <a href="{{ url_for('signup_page') }}" class="text-info">Register here</a>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<h3 class="text-center pt-5"></h3>
{% endblock %}
